---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  // const allPosts: any = await Astro.glob("../posts/*.md");
  const allPosts: any = await getCollection("posts");

  const uniqueTags: any[] = [
    ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag: string) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  {
    posts.map((post: any) => (
      <BlogPost
        url={`/posts/${post.slug}`}
        title={post.data.title}
        img={post.data.image.url}
        alt={post.data.image.alt}
        description={post.data.description}
      />
    ))
  }
</BaseLayout>
