---
const { url, title, description, img, alt, tags } = Astro.props;
---

<div class="container">
  <a href={url}>
    <p>{title}</p>
  </a>
  <img src={img} alt={alt} />
  <p><em>{description}</em></p>
  <div class="tags">
    {
      tags?.map((tag: string) => (
        <p>
          <a class="tag" href={`/tags/${tag}`}>
            {tag}
          </a>
        </p>
      ))
    }
  </div>
</div>

<style>
  .container {
    border: 2px solid black;
  }
  a > * {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    width: 100px;
  }
</style>

<style>
  /* dry */

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: darkred;
  }
</style>
