---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const ttr = 10;
const leiaTb = "x";
---

<BaseLayout pageTitle={frontmatter.title}>
  <img
    class="mainImg"
    src={frontmatter.image.url}
    alt={frontmatter.image.url}
  />

  <p><em>{frontmatter.description}</em></p>

  <p>Written by {frontmatter.author}</p>
  <p>Published on {frontmatter.pubDate}</p>

  <p>Tags: {frontmatter.tags}</p>
  <p>Time to read: {ttr}</p>

  <slot />

  <p>Leia também: {leiaTb}</p>

  <style>
    .mainImg {
      max-width: 100%;
    }
  </style>

  <style>
    /* DRY */
    a {
      color: #00539f;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
    }

    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: 0.5em;
      padding: 0.5em 1em;
      font-size: 1.15em;
      background-color: #f8fcfd;
    }
  </style>
</BaseLayout>
